
.board {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
}

.board-row {
    display: flex;
}

.content button {
    width: 70px;
    height: 70px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    cursor: pointer;
}

.buttonRestartGame {
    width: 150px;
    background: rgb(109, 2, 82);
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    
}
